<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="jp.co.EmployeeInfo.mapper.EmployeeMapper">
    <resultMap id="EmployeePojoMap" type="jp.co.EmployeeInfo.pojo.EmployeePojo">

    </resultMap>
   
   <!--  <select id="getUser" resultMap="EmployeePojoMap">
        select *
        from employee
        where employeeName = #{employeeName}
          and password = #{password}
    </select>-->
    
    
    <!-- <select id="findByUsername" resultType="jp.co.EmployeeInfo.model.Employee">
        SELECT * FROM employee WHERE employeeNo = #{username}
    </select> -->
    
 <!-- <select id="findByUsername" resultType="jp.co.EmployeeInfo.model.Employee">
        SELECT * FROM employee WHERE employeeNo = #{employeeNo and password = #{passWord}}
    </select> -->
    
       <!--  <select id="SelectPwd" resultType="jp.co.EmployeeInfo.model.Employee">
        SELECT password FROM employee WHERE employeeNo = #{employeeNo}
    </select> -->
    
   
  
    <update id="passwordReset">
        update employee set password=#{newPassword} where employeeNo = #{employeeNo}
     </update>
    
</mapper>